body {
    margin: 0;
    padding: 0;
    font-family: 'Heebo', sans-serif;
}
.container {
    margin: 5% 3%;
}
.row {
    display: flex;
    justify-content: space-between;
}
.half {
    width: 50%;
    margin: 0 50px;
}
#banner-img {
    display: block;
    width: 85%;
    margin: 0 auto;
}
.half h1 {
    font-size: 60px;
}
p {
    font-size: 18px;
    margin: 0;
}
.orange {
    color: #f0720b;
    font-family: 'Dancing Script', cursive;
}
.gray {
    color: #6d6d6d;
}
.link-button {
    text-decoration: none;
    font-size: 18px;
    background: linear-gradient(90deg, #eb4141, #fda129);
    padding: 10px 30px;
    border-radius: 25px;
    color: #fff;
    margin-top: 35px;
    display: inline-block;
    border: none;
}
.about {
    background: url(./images/about-bg.jpg);
    padding-top: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
#about-img {
    width: 50%;
    margin: 0 auto;
    display: block;
}
.title {
    font-size: 36px;
    color: #5a5a5a;
}
.recipie {
    margin-top: 8%;
}
.recipie-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.recipie-item {
    width: 25%;
    margin: 25px;
    box-shadow: 5px 5px 25px gray;
    border-radius: 25px;
    text-align: center;
    padding: 30px;
}
.recipie-item img{
    width: 100%;
}
.recipie-text {
    text-align: left;
}
.recipie-text p {
    font-size: 16px;
}
.recipie-text h3 {
    font-size: 24px;
    margin-bottom: 5px;
}
.followers .row {
    margin: 7% 4.5%;
    box-shadow: 5px 5px 25px gray;
    border-radius: 25px;
    padding: 45px;
    justify-content: space-around;
}
.subscirb h3{
    font-size: 50px;
    margin: 0;
}
.footer {
    background: #000;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 25px;
}
.footer h1 {
    font-size: 34px;
}
.footer p {
    font-size: 14px;
}
.review .title {
    text-align: center;
}
.customer-review img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.customer-review {
    width: 50%;
    margin: 25px;
    border-left: 7px solid #f0720b;
    padding: 0 25px;
}
.customer-review h4 {
    margin: 15px 0;
    font-size: 20px;
}
.booking .container {
    margin-top: 9%;
}
.booking .half img {
    width: 100%;
}
.booking .half h2 {
    margin: 0;
}
.booking form {
    margin-top: 7%;
}
.booking form input {
    display: inline-block;
    width: 100%;
    height: 45px;
    margin-bottom: 15px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 3px 3px 10px gray;
    padding: 0 10px;
}